*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    background-color: #FCFF77;
    overflow-x: hidden;
}

body{
    background: linear-gradient(359.7deg, #FCFF77 0.25%, #96FFA3 98.05%) no-repeat;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    max-width: 450px;
    margin:0 auto;
}
@font-face {
    font-family: riftFont;
    src: url(fonts/RiftSoft-Bold.otf) format('otf');
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container{
    width:100%;
}
#padauk-frame{
    width:100%;
    position: absolute;
    pointer-events: none;
    z-index:10;
}
#cmo{
    display: block;
    width:50%;
    margin: 0 auto;
}
.couple-container{
    width: 100%;
    position: relative;
}
#water-circle{
    position: absolute;
    width:95%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}
#thingyan-couple{
    width:36%;
    display: block;
    margin: 0 auto;
}
#thingyan{
    display: block;
    width:80%;
    margin:0 auto;
    animation: jumping 2s infinite;
}
#footer{
    bottom:1.5%;
    position: absolute;
    text-align: center;
    width:100%;
    font-size: 1.43rem;
    color:#767474;
    font-family: riftFont , sans-serif !important;
    
}
@keyframes jumping{
    10%{transform: scale(1.05) rotate(5deg);}
    20%{transform: scale(1.05) rotate(-5deg);}
    30%{transform: scale(1.05) rotate(5deg);}
    40%{transform: none;}
}
@keyframes rotate {
    0%{}
    100%{
        
        object-position: center;
    }
}
/* -------------------------------Pray Text---------------------------- */

#overlay{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    overflow: hidden;
}
#yellow-bg,#pray-text,#thingyan-couple-outline,#cross-icon,#suprise-container,#cross-container,marquee{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* height:50%; */
    width:100%;
    touch-action: none;
}
#music-icon{
    position: absolute;
background-color: #4aaeff;
    right:5%;
    left:unset;
    top:10%;
    width:10%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transition: 0.25s ease-in-out;
}
#music-icon:active{
    -webkit-transform : translateY(10%);
    transform: translateY(10%);
}

#yellow-bg{
    height: 50%;
}
#pray-text{
    top:45%;
    text-align: center;
    color:white;
    width:80%;
    z-index: 9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

marquee{
    top:80%;
    color: white;
}
#thingyan-couple-outline{
    opacity: 0.5;
    width:39%;
    left:49%;
    display: block;
    margin: 0 auto;
    z-index: 8;
}
#cross-icon{
    right:0;
    left:unset;
    top:33%;
    width:10%;
    filter : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#suprise-container{
    width:70%;
    top:63%;
    background-color: transparent;
    padding:10px 5px;
    color:white;
    border-top:1px solid rgba(255, 255, 255, 0.7);
    text-align: center;
    text-decoration: none;
}
#suprise-text{
    text-align: center;
    font-size: 0.9rem;
    color:white;
    font-family: riftFont , sans-serif !important;
}
#suprise-text:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    width: 100%;
    margin-bottom: 8%;
}
#suprise-text:nth-child(2), #suprise-text:nth-child(3){
    text-decoration: none;
    border:1px solid white;
    padding:3% 6%;
    border-radius: 5px;
    font-size: 1.05rem;
    position: relative;
    display: inline;
    width:50%;
}
#suprise-text:nth-child(2){
    margin-right: 5%;
}
#suprise-text:nth-child(3){
    margin-left: 5%;
}
.party-icons{
    width:10%;
    left:20%;
}
@media (max-height:700px) {
    #thingyan,.couple-container{
        margin-top: 15%;
    }
    #cmo{
        margin-top: 10%;
    }
    #water-circle{
        width:90%;
    }
    #footer{
        font-size: 1.2rem;
    }
    #yellow-bg{
        height: 60%;
    }
    #cross-icon{
        top:30%;
    }
}


.snowflake{
    position: absolute;
    width:10px;
    height: 10px;
    background: linear-gradient(#96FFA3,#ffcc00);
    filter: drop-shadow(0 0 10px #ffcc00);
    border-radius: 0 80px;
    transform: rotate(0deg);
    opacity: 1;
}